*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    background: url(../img/peapole.png);
    height: 100vh;
    background-size: cover;
}
.minilogo{
    color: white;
    font-size: 25px;
}
.baton2{
    font-size: 18px;
    color: white;
    background: none;
    width: 105px;
    height: 45px;
    border: none;
    transition: 0.5s;
    border-radius: 25px;
}

.baton{
    width: 105px;
    height: 45px;
    background: none;
    color: white;
    font-size: 18px;
    border-radius: 25px;
    margin-left: 20px;
    transition: 0.5s;
    border: none;
}
.memu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    padding-top: 30px;
}
.baton:hover{
    border: 2px solid white;
}
.baton2:hover{
    border: 2px solid white;
}
.big{
    color: white;
    font-size: 60px;
    text-align: center;
}
.notbig{
    color: white;
    font-size: 28px;
    margin-top: 20px;
}
.small{
    border: 2px solid RGBA(255, 78, 80, 1);
    background:none;
    color: RGBA(255, 78, 80, 1);
    width: 225px;
    height: 45px;
    font-size: 16px;
    border-radius: 25px;
    transition: 0.5s;
    margin-top: 30px;
    text-shadow: 1px 1px 7px white;
}
.small:hover{
    background-color: RGBA(255, 78, 80, 1);
    color: white;
}
.friends{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:18%;
}
hr{
    border: none;
}
.lia{
    font-size: 26px;
    text-align: center;
    font-weight: 600;
    color: #333333;
}
footer{
    padding-top: 45px;
}
.youhho{
    color: #333333;
    font-weight: 600;
    text-align: center;
    margin-top: 15px;
}
.hyper{
    color: gray;
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}
.skillyou{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skillyou img{
    width: 135px;
}
.skillme{
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 50px;
    padding: 0 50px;
}
.last{
    width: 200px;
    height: 45px;
    background: none;
    border: 2px solid RGBA(255, 78, 80, 1);
    color: #FF4E50;
    font-weight: 600;
    font-size: 15px;
    border-radius: 25px;
    display: block;
    margin: auto;
    transition: 0.5s;
    margin-top: 50px;
    margin-bottom: 50px;
}
.last:hover{
    background-color: RGBA(255, 78, 80, 1);
    color: white;
}
